function Main.main 0
call Main.big 0
pop temp 0
push constant 0
return
function Main.big 1
push constant 1
call BigInt.new 1
pop local 0
push local 0
call BigInt.print 1
pop temp 0
push constant 0
return
function Main.spiral 5
push constant 255
push constant 127
call Spiral.new 2
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 32767
lt
not
if-goto WHILE_END0
push local 0
call Spiral.getNextPoint 1
pop local 1
push local 1
call Point.GetX 1
pop local 3
push local 1
call Point.GetY 1
pop local 4
push local 3
push local 4
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
