function MathExt.Sin 7
push argument 0
push argument 0
call Math.multiply 2
push argument 0
call Math.multiply 2
push constant 10
call Math.multiply 2
pop local 0
push argument 0
push argument 0
call Math.multiply 2
call BigInt.FromInt 1
pop local 4
push local 0
call BigInt.FromInt 1
push local 4
call BigInt.Multiplication 2
pop local 5
push local 5
push argument 0
push argument 0
call Math.multiply 2
call BigInt.FromInt 1
call BigInt.Multiplication 2
pop local 6
push local 0
push constant 6
call Math.divide 2
pop local 1
push local 5
push constant 120
call BigInt.FromInt 1
call BigInt.Divide 2
call IntExt.FromBigInt 1
pop local 2
push local 6
push constant 5040
call BigInt.FromInt 1
call BigInt.Divide 2
call IntExt.FromBigInt 1
pop local 3
push local 4
call BigInt.dispose 1
pop temp 0
push local 5
call BigInt.dispose 1
pop temp 0
push local 6
call BigInt.dispose 1
pop temp 0
push argument 0
push constant 10
call Math.multiply 2
push local 1
sub
push local 2
add
push local 3
sub
return
function MathExt.Cos 8
push argument 0
push argument 0
call Math.multiply 2
pop local 0
push argument 0
push argument 0
call Math.multiply 2
push constant 10
call Math.multiply 2
call BigInt.FromInt 1
push local 0
call BigInt.FromInt 1
call BigInt.Multiplication 2
pop local 5
push local 5
push local 0
call BigInt.FromInt 1
call BigInt.Multiplication 2
pop local 6
push local 6
push local 0
call BigInt.FromInt 1
call BigInt.Multiplication 2
pop local 7
push local 0
push constant 10
call Math.multiply 2
push constant 2
call Math.divide 2
pop local 1
push local 5
push constant 24
call BigInt.FromInt 1
call BigInt.Divide 2
call IntExt.FromBigInt 1
pop local 2
push local 6
push constant 720
call BigInt.FromInt 1
call BigInt.Divide 2
call IntExt.FromBigInt 1
pop local 3
push local 7
push constant 720
call BigInt.FromInt 1
push constant 56
call BigInt.FromInt 1
call BigInt.Multiplication 2
call BigInt.Divide 2
call IntExt.FromBigInt 1
pop local 4
push local 5
call BigInt.dispose 1
pop temp 0
push local 6
call BigInt.dispose 1
pop temp 0
push local 7
call BigInt.dispose 1
pop temp 0
push constant 10
push local 1
sub
push local 2
add
push local 3
sub
push local 4
add
return
